@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: inherit;
  height: 100vh;
}

p,
a,
li,
span {
  font-size: 2rem;
}

a {
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-width {
  max-width: 1200px;
  margin: 0 auto;
}
/* top-page */
.nav_lists {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}
.nav_links {
  color: #fff;
}
